* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    max-height: 100vh;
    margin-top: 5%;
    /* margin-bottom: 4%; */
    justify-content: center;
    background-color: hsl(229, 24%, 87%);
}

.main-container{
    display: flex;
    /* margin: auto; */
    padding: 1%;
    background-color: white;
    /* height: 150%; */
    width: 70%;
    border-radius: 5px;
    /* flex-direction: column; */
}

main{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    /* justify-content: center; */
    /* align-items: center; */
}

.deepBlue{
    color: hsl(213, 96%, 18%);
}
 
.grey{
   color:  hsl(231, 11%, 63%);
}
.purple{
    color: hsl(243, 100%, 62%);
}

.white{
    color: hsl(0, 0%, 100%);
}
.bold{
    font-weight: bold;
}

.error{
    color: red;
    font-size: small;
}

button{
    background:none;
    border: none;
}
button:hover{
    cursor: pointer;
}
#nextStep{
  background-color: hsl(213, 96%, 18%);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  float: right;
  /* margin-top: 60px; */
}

 nav{

    display: flex;
    flex-direction: column;
    gap: 4%;
    background-image: url(../images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    /* background-position-x: -20px;
    background-position-y: -20px; */
    padding: 3%;
    width: 40%;
    border-radius: 5px;

     
}

.side-bar{
    display: flex;
    gap: 7%;
    font-size: smaller;
}
/*
nav .heading{
    display: none;
} */

/* main{
    margin: 5%;
    position: fixed;
    top: 5%;
    z-index: 5;
} */



nav .number{
    width: 35px;
    height: 35px;
    padding-top: 4%;
    text-align: center;
    /* margin-top: 70%; */
    border-radius: 50%;
    border: 1px solid white;
}


section{
    /* padding-top: 2%;
    padding-bottom: 15%; */
    padding: 5% 10% 10% 10%;
    /* border-radius: 10px; */
    background-color: white;
    display: flex;
    flex-direction: column;
}

.fillColor{
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}



form{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    gap: 4rem;
}

form input{
    width: 100%;
    height: 115%;
    border-radius: 5px;
    padding-left: 2%;
    border:1px solid hsl(231, 11%, 63%);
}

.buttonDiv{
    display: flex;
    justify-content: end;
    padding: 2% 10% 3% 10%;
}

.plan-cards{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    /* border:1px solid hsl(231, 11%, 63%); */
}

.pCard{
    width: 32%;
    border:1px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    padding: 2%;
    box-shadow: 2px 2px 2px 2px rgba(78, 78, 78, 0.2);
}

.pCard:hover{
    cursor: pointer;
}

.pCard img{
    size: 120%;
    padding-bottom: 35%;
}

#plan #toggle-pricing{
    margin-top: 10%;
    background-color: #f8f9fe;
    padding: 2%;
    justify-content: center;
    /* align-items: center; */
    display: flex;
    border-radius: 5px;
}

#toggle-pricing #monthly{
    color: hsl(213, 96%, 18%);
}

#toggle-pricing #yearly{
    color: hsl(231, 11%, 63%);
}
.toggle {
    appearance: none;
    cursor: pointer;
    width: 50px;
    height: 26px;
    background-color: hsl(213, 96%, 18%);
    border-radius: 13px;
    position: relative;
}
.toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color: white;
    transition: transform 0.2s;
}

.toggle:checked::before {
   transform: translateX(24px);
}

#toggle-pricing label{
    font-size: large;
    padding-right: 15px;
    padding-left: 10px;
    align-self: center;
}


/* Add-Ons style*/

.checkboxDiv{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5%;
    border:1px solid #f8f9fe;
    border-radius: 5px;
    margin-top: 5%;
    gap: 4%;
}

.checkboxDiv:hover{
    cursor: pointer;
}

.selectCheckbox{
    border-color: hsl(213, 96%, 18%);;
}

.checkboxDiv .purple{
    margin-left: 25%;
}

.checkboxDiv #largerStoragePrice{
    margin-left: 35%;
}


/* billing page*/

.billContainer{
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: rgb(248, 248, 255);
    border-radius: 5px;
    margin-top: 5%;
}

.flex-row{
    display: flex;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 3%;
}

.billContainer #plan-pricing{
    align-self: center;
}

.billContainer .gap{
    gap: 10px;
}

.totalMoney{
    padding: 5%;
}

.totalMoney #totalPriceCost{
    font-size: large;
}

#thankYou{
    gap: 20px;
    align-self: center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20%;
    font-size: large;
}

.selectPlanDiv{
    border-color: hsl(213, 96%, 18%);
    background-color: #f8f9fe;
}

.displayOff{
    display: none;
}


@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .main-container {
        width: 100%;
        padding: 0;
        background-color: inherit;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* align-items: center; */
        background-image: url(../images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        /* background-position-x: -20px; */
        background-position-y: -20px;
        background-size: cover;
        padding-top: 8%;
        margin: 0;
        width: 100%;
        height: 170px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .number {
        width: 35px;
        height: 35px;
        padding-top: 50%;
        /* margin-top: 10px; */
        border-radius: 50%;
        border: 1px solid white;
    }

    .heading{
        display: none;
    }

    main {
        margin-top: 100px ; /* Adjust top and bottom margin to overlap the header slightly */
        margin-left: 15px;
        margin-right: 20px;
        z-index: 2;
    }

    section {
        padding: 5% 8% 10% 8%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    #plan .plan-cards {
        flex-direction: column;
        gap: 20px;
    }

    .pCard {
        display: flex;
        width: 100%;
        gap: 20px;
    }
    #thankYou {
        margin-top: 0;
        margin-left: 0;
    }

    .buttonContainer {
        background-color: #f8f9fe;
        display: flex;
        /* justify-content: flex-end; */
        /* padding: 10px; */
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    .buttonContainer button {
        width: 45%;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 16px;
    }

    .active-section {
        display: block;
    }

    .displayOff {
        display: none;
    }
}